.dark {
  background: #111;
  color: white;
}

.dark .panel {
  background: #1d1d1d;
}

.dark #result {
  background: #2b2b2b;
  color: white;
}

.dark button,
.dark input {
  background: #333;
  color: white;
  border: 1px solid #666;
}
