html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #111;
}

.panel {
  padding: 10px;
  background: white;
}

h2 {
  margin: 5px 0;
}

button, input {
  padding: 10px;
  margin: 3px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #aaa;
}

input {
  width: calc(100% - 25px);
  max-width: 450px;
}

#result {
  margin-top: 8px;
  padding: 10px;
  background: #fff3c4;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
}

#map {
  height: 70vh;
  width: 100%;
  background: #ddd;
}

body.dark {
  background: #111;
  color: white;
}

body.dark .panel {
  background: #1d1d1d;
}

body.dark #result {
  background: #2b2b2b;
  color: white;
}

body.dark button,
body.dark input {
  background: #333;
  color: white;
  border: 1px solid #666;
}
